<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>fr.formation.inti.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController1</servlet-name>
  	<display-name>LogoutController1</display-name>
  	<description></description>
  	<servlet-class>fr.formation.inti.controller.LogoutController1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController1</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>
